html, body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: rgb(197, 13, 13);
   
}

nav li {
    list-style-type: none;
}

nav button {
    height: 80%;
    width: 67%;
    border-radius: 11%;
    border-color: transparent;
}

nav button:hover {
    cursor:pointer;
}

#logo {
    width: 68%;
    height: 20%;
}

#logo-backround {
    width: 80%;
    height: 40%;
    background-color: aliceblue;
}